:root {
  --darkest: #564a4a;
  --medium: #4aa96c;
  --lightest: #9fe6a0;
  --colorPop: #f55c47;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

/* Affects the time slot block styling. */
textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid var(--darkest);
  padding: 10px;
  width: 75%;
}

/* Bootstrap overwrite styling for the big page header. */
.jumbotron {
  text-align: center;
  background-color: var(--lightest);
  color: var(--darkest);
  border-radius: 0;
  border-bottom: 10px solid var(--darkest);
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  width: 8%;
  padding-top: 5px;
}

/* Color templates for time signifying */
.past {
  background-color: var(--darkest);
  color: white;
}

.present {
  background-color: var(--colorPop);
  color: white;
}

.future {
  background-color: var(--medium);
  color: white;
}

/* Save button styling */
.saveBtn {
  border-left: 1px solid var(--darkest);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--lightest);
  color: var(--darkest);
  width: 8%;
}

.saveBtn:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
